* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    background-color: #45A2FD;
}

.contenedor_header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px; 
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-right: auto;
}

.logo img {
    width: 100px;
}

.logo img:hover {
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0px 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a {
    color: black;
    font-size: 16px;
    position: relative;
}

.menu nav ul li a:hover {
    color: brown;
}

.menu nav ul li #sesion {
    background-color: rgb(1, 11, 148);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu nav ul li #sesion:hover {
    background-color: rgb(10, 109, 223);
    color: rgb(0, 0, 0);
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #45A2FD;
    }

    .menu nav ul {
        flex-direction: column;
        width: 100%;
    }

    .menu nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
        margin-left: auto;
    }
}

.show-menu {
    display: flex !important;
}
